/**
 * Base setup for variables and breakpoints
 * These should be loaded before anything else
 */

 // @import 'base/variables';


/**
 * Components
 * ex: @import 'components/header';
 */

@import 'components/header';
@import 'components/link.scss';


body{
    background-color: #3A435E;
}

button{
    height: 40px;
    width: 120px;
    color: #F1F2EB;
    background-color: #3A435E;
}

 

  .resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}



.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content: center;
    gap: 100px;
    color: #F1F2EB;
    row-gap: 20px;
    margin-top: 15%;
    
}


