/**
 * Base setup for variables and breakpoints
 * These should be loaded before anything else
 */

 // @import 'base/variables';


/**
 * Components
 * ex: @import 'components/header';
 */

@import 'components/header';
@import 'components/link.scss';

body{
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
}
.body{
    background-color: #3A435E;
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        align-content: center;
        gap: 100px;
        margin-top: 15%;
    
        &__bilde{
            width: 400px;
            height: auto;
            border: 5px solid #313E50;
            }     
        &__Text{
            color: #F1F2EB;
            }
        }
        }

button{
    height: 40px;
    width: 120px;
    color: #F1F2EB;
    background-color: #3A435E;
}

.bottom{
    text-align: center;
    padding-top: 15%;  
    border: 0,5px solid #313E50;
} 

footer{
    border-top: 2px solid #313E50;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        align-content: center;
}

p{
    color: #F1F2EB;
}






@keyframes example {
    0%   {background-color: darkgray;}
    25%  {background-color: dimgray;}
    50%  {background-color: #545E75;}
    100% {background-color: darkolivegreen;}
  }

  .test {
    width: 100% ;
    height: 100%;;
    animation-name: example;
    animation-duration: 4s;
  }


  .carousel-inner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
    padding-top: 200px;
  }

.carusel3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  align-content: center;
  gap: 100px;
  margin-top: 15%;
  width:100%;
  height: 400px;
 
}

