.header{
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: white;
    }
    &__logo{
        height: 100px;
        width: 100px;
    }
    &__navigation{
        height: 30px;
        width: 400px;
        padding: 10px;
        padding: auto;
        text-align: right;
        &--item{
            color: black;
            }
    }
}


