.header{
    &__wrapper{
        display: flex;
        flex-direction: row;
        background-color: #313E50;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;

    
    }
    &__logo{
        height: 100px;
        width: 100px;
    }
    &__navigation{
        
        
        
        &--item{
            display: flex;
            
            }
    }
}


